/_src
/_docs
/node_modules
/_release
Gruntfile.*
*.sublime*
config.json
config*.json
deploy.json
.editorconfig

*.yml
*.profile
*.lock
*.conflict
*.DS_Store
*.zip
*.rdb
*.log

.project
.settings
.idea
